@{
    ViewData["Title"] = "Search";
}

<div id="panel" class="panel" style="height: fit-content;">
    <label dir="rtl" style="margin-left: 50%;">عبارت جستجو</label>
    <form method="post" action="/Home/Save">
        <input style="width: 100%;" dir="rtl" type="text" placeholder="term" required id="term">
        <h4 style="margin-left: 50%;">نقطه مرکز</h4>
        <label>latitude</label>
        <input dir="ltr" type="text" placeholder="latitude" required id="center_lat" name="latitude">
        <br>
        <label>longitude</label>
        <input dir="ltr" type="text" placeholder="longitude" required id="center_lng" name="longitude">
        <br>
        @*<button type="submit" style="margin-top: 10px;">Save</button>*@
    </form>
    <button id="search" style="margin-top: 10px;" onclick="search()">Search</button>
    <br />
    <br />
    <button onclick="getLocation()">Current Location</button>
    <!--Search_Result-->
    <p dir="rtl" id="resultCount"></p>
    <div id="resualt">
    </div>

</div>

<div id="map"
     style="width: 70%; height: 70%; background: #eee; border: 2px solid #aaa;position: absolute;z-index: 1;">
</div>
<p id="log">logs</p>


@section Scripts{
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="~/js/Search-server.js"></script>

}



